* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


html,
body {
    width: 100%;
    height: 100%;
}


canvas {
    width: 100%;
    height: 100%;
}


input[type=range][orient=vertical] {
    position: absolute;
    top: 5%;
    bottom: 0;
    width: 25px;
    height: 90%;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
}


input[type=range][orient=vertical] {
    outline: none;
}


#red {
    left: 70%;
}


#green {
    left: 80%;
}


#blue {
    left: 90%;
}


#values {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40%;
    width: 70%;
}


.value {
    position: absolute;
    width: 100%;
    height: 50%;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}


#hex {
    padding-top: 80px;
}





@media all and (max-width: 340px) {
    .value {
        font-size: large;
    }
}
